@import "compass/layout";

@mixin respond-to($media) {
	@if $media == sm {
		@media only screen and (min-width: $screen-sm-min) { @content; }
	}
	@else if $media == md {
		@media only screen and (min-width: $screen-md-min) { @content; }
	}
	@else if $media == lg {
		@media only screen and (min-width: $screen-lg-min) { @content; }
	}
}

@include sticky-footer($footer-height * 2);

@include respond-to(sm) {
	@include sticky-footer($footer-height);
}

.navbar-noborder {
	border: none;
}

.navbar-default {
	.container {
		position: relative;
	}

	button {
		color: #fff;
		margin-top: 20px;
		margin-bottom: 18px;
	}

	.navbar-brand {
		padding-left: 120px;
	}
}

.container.container-main {
	margin-top: 30px;
}

.footer {
	height: $footer-height * 2;
	background-color: $navbar-default-bg;
	color: $navbar-inverse-color;
	padding: 15px 0;

	@include respond-to(sm) {
		height: $footer-height;
	}

	a {
		color: $navbar-inverse-color;
	}

	.text-right {
		text-align: left;
		margin-top: 1em;

		@include respond-to(sm) {
			text-align: right;
			margin-top: inherit;
		}
	}
}

.jumbotron {
  margin-top: 4em;
}

.p.call-to-action {
  margin-top: 2em;
}

.jumbotron-image {
	margin-top: 2em;

	img {
		width: 100px;
	}

	@include respond-to(md) {
		margin-top: 1.5em;
		img {
			width: 150px;
		}
	}

	@include respond-to(lg) {
		margin-top: 0;
	}
}
