/site
/doc/build/
/target
/classes
/checkouts
/conf
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-repl-history
/.lein-deps-sum
/.lein-failures
/.nrepl-port
.sass-cache
_site
node_modules
/dev
/grafana
/graphite-stresser