<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }} | Cyanite</title>
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="/css/styles.css">
		<link rel="shortcut icon" href="/favicon.png">
	</head>
	<body>
		<div id="root">
			<div class="navbar navbar-default navbar-noborder">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="/">
							{{ site.name }}
						</a>
						<button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
							Menu
						</button>
					</div>
					<div id="navbar-main" class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
              <li><a href="/quickstart">Quickstart</a></li>
              <li><a href="/design">Design</a></li>
              <li><a href="/reference">Reference</a></li>
              <li><a href="/support">Support</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="container container-main">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            {{ content}}
          </div>
        </div>

			</div>
			<div id="root_footer"></div>
		</div>

		<div id="footer">
			<div class="footer">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							&copy; 2014, <a href="http://spootnik.org">Pierre-Yves Ritschard</a>
						</div>
						<div class="col-sm-6 text-right">
							<a href="https://github.com/pyr/cyanite"><i class="fa fa-github"></i> GitHub</a> |
							<a href="https://twitter.com/pyr"><i class="fa fa-twitter"></i> Twitter</a>
						</div>
					<div class="row">
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/js/libs.min.js"></script>
	</body>
</html>
